:root {
    background-color: #f1f1f1;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
        'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    --purple: #6a4596;
}

header {
    width: 100vw;
}

#bar {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    padding: 1%;
}

#highscore {
    color: var(--purple);
}

#highscore:hover {
    cursor: pointer;
}

.item {
    font-size: 125%;
}

/* universal container for sections that will appear on the page */
.container {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    margin-top: 5%;
}

.title {
    font-weight: 900;
    font-size: 300%;
    padding-bottom: 3%;
}

.container p {
    font-size: 135%;
    text-align: center;
    padding-bottom: 3%;
    width: 30%;
}

#start {
    font-size: 175%;
    background-color: var(--purple);
    color: white;
}

#start:hover {
    cursor: pointer;
}
/* give answers the same starting styling as the start button */
.answers {
    font-size: 175%;
    background-color: var(--purple);
    color: white;
    margin-bottom: 10px;

}

.answers:hover {
    cursor: pointer;
}

/* adjust styling without affecting container class*/
#quiz {
    width: 50%;
    margin-left: 25%;
    align-items: flex-start;
}

/* styling for affirmation of right or wrong answers */
#affirm {
    width: 50%;
    margin-left: 25%;
    align-items: flex-start;
    font-size: 175%;
    margin-top: 20px;
    font-style: oblique;
    font-weight: 900;
    color: grey;
}

/* give submit button similar styling */

#submit {
    font-size: 100%;
    background-color: var(--purple);
    color: white;
    margin-left: 15px;
}
/* similar to container settings */
.finished {
    display: flex;
    flex-flow: column wrap;
    margin-top: 5%;
    width: 50%;
    margin-left: 25%;
    align-items: flex-start;
}
/* similar to container p settings */
.text-left {
    font-size: 135%;
    width: 60%;
    margin-bottom: 15px;
}

#input {
    font-size: 100%;
    width: 50%;
}

.high-scores-page {
    display: flex;
    flex-flow: column wrap;
    margin-top: 5%;
    width: 50%;
    margin-left: 25%;
    align-items: flex-start;
}

.user-info {
    font-size: 135%;
    width: 35vw;
    margin-bottom: 15px;
    list-style-type: decimal;
    /* important to position inside for visual appeal */
    list-style-position: inside;
    background-color: lightpink;
    padding: 2%;
}

/* similar to other buttons. Probably could have made this simpler for myself but the buttons do have small differences */
.btn {
    font-size: 120%;
    background-color: var(--purple);
    color: white;
}